* {
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #d9dcd6;
}

/* entire navigation bar appearance-format*/
body nav { 
    padding-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*page title "Hori" and "n" format on navigation bar*/
.nav-bar h1 {
    display: inline-block;
    font-size: 48px;
}

/*page title "seo" coloring on navigation bar*/ 
.nav-bar h1 .seo { 
    color: #d9dcd6;
}

/*navigation bar links position*/
.nav-bar nav { 
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size: 20px; */
}

/*navigation bar links display*/
.nav-bar nav ul { 
    list-style-type: none;
}

/*navigation bar links spacing*/
.nav-bar nav ul li { 
    display: inline-block;
    margin-left: 25px;
}

/*navigation bar link names*/
a { 
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

p { /*all paragraph text set to size*/
    font-size: 16px;
}
/*location of banner img*/
.banner-location {
    height: 100%;
    width: 100%;
    padding-bottom: 15px;
    position: center;
    scale: 1.0
}

/*main banner image*/
main .banner { 
    max-height: 800px;
    max-width: 200px;
    background-size: cover;
    background-position: center;
}

/*search engine optimization image*/
.seo-img {
    float: left;
    margin-left: -50px;
    margin-right: 20px;
    max-height: 180px;
    position:local;
}
/* online reputation management image*/
.orm-img { 
    float: right;
    margin-left: 50px;
    margin-right: -20px;
    max-height: 180px;
    position: local;
}

/* social media marketing image */
.smm-img {
    float: left;
    margin-left: -50px;
    margin-right: 20px;
    max-height: 180px;
    position: local;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*background blue boxes for each section*/
.blue-boxes {
    margin-bottom: 20px;
    margin-right: 15px;
    padding: 20px;
    padding-left: 50px;
    height: 300px;
    width: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*all h2*/
h2 {
    margin-bottom: 20px;
    font-size: 30px;  
}

h3 {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

/* sidebar box
aside { 
    width: 220px;
    height: 800px;
    float: right;
    clear: both;
    /*margin-right: 20px;
    padding: 20px;
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}*/

/*--------------------------------------*/
.sidebar {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* position of sidebar images */
.sidebar img {
    display: block;
    margin: 10px auto;
    max-width: 150px;  
}

/* h3 position */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* p-text of sidebar position and format */
.sidebar p {
    margin-bottom: 32px;
    color: #ffffff;
}


/*.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}







/*------------------------------------------------------------------*/
/*
.benefit-lead { /*Lead Generation, sidebar, text and position
    margin-bottom: 32px;
    color: #ffffff;
}



.benefit-lead p { /* leadgen paragraph/text
    margin-top: -10px;
}

.benefit-lead img { /*LeadGen image posiiton in sidebar
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand { /*Brand Awareness, sidebar, text and position 
    margin-bottom: 32px;
    color: #ffffff;
}
.benefit-brand p { /*brandaware paragraph/text
    margin-top: -10px;
}


.benefit-brand img { /*BrandAw image position in sidebar
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost { /*Cost Management, sidebar, text and position 
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost p { /*costmang paragraph/text
    margin-top: -10px;
}


.benefit-cost img { /*CostMan image position in sidebar
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*------------------------------------------------------------------*/


.footer { /*footer position, text, etc*/
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 { /*footer title size*/
    font-size: 20px;
}

